{
  "*.{jsx,tsx}": ["eslint --fix"],
  "*.{js,ts}": ["eslint --fix", "jest --bail --coverage --findRelatedTests --config=jest.config.json"],
  "*.{json,md,gql,less,css}": ["prettier --write"],
  ".*{rc, json}": "jsonlint"
}
